.notification-layout {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    align-items: start;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    overflow-y: scroll;
    margin-top: 20px;
    height: 70vh;
}

.notification-post {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style:solid;
    border-color: lightblue;
    color: steelblue;
}

.notification-post:hover {
    border-width: 1px;
    border-style:solid;
    border-color: peru;
}

.notification-footer {
    background-color: rgba(255, 255, 255, 0.6);
}

.notification-button {
    float: right;
    margin-right: 5px;
    margin-left: 5px;
}
