.register-form {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    max-width: 35% !Important;
}

.login-label {
    position: fixed;
    top: 10%;
    right: 2%;
    align-items: center;
}