.login-form {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    max-width: 25% !Important;
}

.colourful-button {
    background-image: linear-gradient(to right, rgb(255, 204, 204),rgb(255, 229, 204),rgb(255, 255, 204),
    rgb(185, 238, 181),rgb(204, 229, 255),rgb(204, 204, 255));
    color: black !Important;
}

.colourful-button:hover {
    color: mediumpurple !Important;
}